<div class="card-header">
    <b>Liste des actions</b>
</div>
<div class="card-body">
    {% for liste in pagination %}
        <div class="row alert alert-info" style="font-size:12px;">
            <div class="col-md-3">

                <span class="badge badge-{% if liste.action=="update" %}info{% endif %}{% if liste.action=="delete" %}danger{% endif %}{% if liste.action=="insert" %}success{% endif %}">{{ liste.action | upper }} </span>
            </div>
            <div class="col-md-9">
                {% for key,value in liste.data %}
                    <b>{{ key }}</b> => {% if value.timestamp is defined %}{{ value |   date("Y-m-d H:i:s")  }} {% else %} {{ value }} {% endif %}
                {% endfor %}
                <br>
                {% if liste.username %}
                    Réalisé par  <b>{{ liste.username |capitalize }}</b> le <i>{{ liste.loggedAt | date("Y-m-d H:i") }}</i>
                {% endif %}
            </div>

        </div>


    {% endfor %}
</div>
<div class="card-footer">
    <div class="navigation">
        {{ knp_pagination_render(pagination,"FyherClientBundle:pagination:pagination.html.twig") }}
    </div>
</div>