
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        {% if client is defined %}
                            <b>Fiche :</b>  {{ client.nomClient |capitalize }} {{ client.prenomClient|capitalize }}&nbsp;&nbsp;
                            {% if client.activeClient==1 %}
                              <a href="{{ url("client_activation_client",{"hashClient":client.hashClient,"statut":0}) }}" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Désactiver le client">ACTIF</a>
                            {% else %}
                              <a href="{{ url("client_activation_client",{"hashClient":client.hashClient,"statut":1}) }}" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Activer le client"> INACTIF</a>
                            {% endif %}

                        {% endif %}

                    </div>
                    <div class="col-md-3 offset-md-3" align="right">
                        {% if referer is defined %}
                            <a href="{{ referer }}" class="btn btn-dark btn-sm " data-toggle="tooltip" data-placement="top" title="Revenir en arrière"><i class="fa fa-undo"></i> </a>
                        {% endif %}
                        {% if client is defined %}
                             <a href="{{ url("client_client_liste") }}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Liste des clients"><i class="fa fa-users"></i> </a>
                            <a href="{{ url("client_client_add") }}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Ajouter un client"><i class="fa fa-plus"></i> </a>
                        {% endif %}
                    </div>
                    <div class="col-md-2" align="right">
                        {% if client is defined %}
                            <a href="#" class="btn btn-success btn-sm edit_form_fyher" data-toggle="tooltip" data-placement="top" title="Editer la fiche client"><i class="fa fa-edit"></i> </a>
                            <a href="#" data-link="{{ url("alarme_add_alarme",{"hashclient":client.hashClient}) }}"  data-nom="Ajouter une alarme pour le client {{ client.nomClient |capitalize }} {{ client.prenomClient | capitalize }}" class="btn btn-sm btn-warning openpopupfyher" data-toggle="tooltip" data-placement="top" title="Ajouter une alarme"><i class="fa fa-bell"></i> </a>
                            <a href="#" data-link="{{ url("notes_add_note",{"hashclient":client.hashClient}) }}" data-nom="Ajouter une note pour le client {{ client.nomClient |capitalize }} {{ client.prenomClient |capitalize}}" class="btn btn-sm btn-warning openpopupfyher" data-toggle="tooltip" data-placement="top" title="Ajouter une note"><i class="fa fa-sticky-note"></i> </a>
                        {% endif %}
                    </div>
                </div>
           </div>
            {% if client is defined %}
                <div class="card-body edit_fyher_info">
                    <div class="row">
                        <div class="col-md-12">
                            {{ client.civiliteClient |capitalize }} {{ client.nomClient|capitalize }} {{ client.prenomClient|capitalize }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b>Adresse:</b> {{ client.adresseClient |capitalize }} {{ client.villeClient|capitalize }} {{ client.codePostalClient| capitalize}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <b>Téléphone Mobile:</b> {{ client.numeroMobileClient | phoneFyher(false) }}
                        </div>
                        <div class="col-md-6">
                            <b>Téléphone Fixe:</b> {{ client.numeroFixeClient | phoneFyher(false) }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card-body edit_fyher_form" style="display:none">
                {% form_theme form 'bootstrap_4_layout.html.twig' %}

                {{ form_start(form, { 'attr': {'novalidate': 'novalidate',"id":"formnote" } }) }}
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.civiliteClient) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.nomClient) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.prenomClient) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.adresseClient) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.villeClient) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.codePostalClient) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.departementNomClient) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.departementCodeClient) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.paysClient) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.codeInseeVilleClient) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.numeroFixeClient) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.numeroMobileClient) }}
                    </div>
                </div>
                {{ form_rest(form) }}


                <input type="submit" value="{% if client  is defined%}Modifier{% else %}Enregistrer{% endif %}" class="btn btn-fw success btn-block button" />
                {{ form_end(form) }}
            </div>
            <div class="card-footer">

            </div>
        </div>
        <br>
        <div class="card zone_fyher_affiche_information" data-url="{{ url("notes_liste_notes_client",{"hashclient":client.hashclient}) }}">
            <div class="card-header">
                <b>Liste des notes</b>
            </div>
            <div class="card-body">

            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <b>Source(s)</b>
            </div>
            <div class="card-body">
                {% for l in listesource %}
                        <a href="{{ l.idSource.urlSource }}" target="_blank">{{ l.idSource.urlSource }}</a>  le {{ l.dateCreationSourceClient | date("Y-m-d H:i") }} <br>
                        {% for key,value in l.dataSourceClient %}
                                <b>{{ key  }}</b> => {{ value }}
                            {% endfor %}
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="card zone_fyher_affiche_information" data-url="{{ url("client_carte_client",{"hashclient":client.hashclient}) }}">
            <div class="card-header">
                <b>Géolocalisation</b>
            </div>
            <div class="card-body">
                chargement de la carte en cours ...
            </div>
        </div>
        <br>
        <div class="card zone_fyher_affiche_information" data-url="{{ url("alarme_liste_client_alarme",{"hashclient":client.hashclient}) }}">
            <div class="card-header">
                <b>Liste des alarmes à venir</b>
            </div>
            <div class="card-body">

            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card zone_fyher_affiche_information" data-url="{{ url("client_liste_action_client",{"hashclient":client.hashclient}) }}">
            <div class="card-header">
                <b>Liste des actions</b>
            </div>
            <div class="card-body">

            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>

